* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #222222;
  color: white;
  text-align: center;
  padding-top: 3rem;
}

p {
  color: gray;
  margin-top: 1rem;
}

.bigCard {
  position: relative;
  margin: 5rem auto;
  width: 22rem;
  height: 33rem;
  user-select: none;
  --rotateX: 0deg;
  --rotateY: 0deg;
  --speed: 1s;
  transition: transform var(--speed) ease;
  perspective: 1000px;
  cursor: pointer;
  color: black;
  text-align: left;
  font-family: monospace;
}

.topSuite, .bottomSuite {
  margin: 1rem 1.5rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.topSuite > div, .bottomSuite > div {
  line-height: 3rem;
}

.topSuite > div::before {
  content: "";
  height: 6rem;
  width: 4rem;
  top: 20px;
  left: 20px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 8px 0 0 0;
  position: absolute;
}

.bottomSuite > div::before {
  content: "";
  height: 6rem;
  width: 4rem;
  top: -5px;
  left: -13px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 8px 0 0 0;
  position: absolute;
}

.bottomSuite {
  scale: -1;
}

.middleSuite {
  position: relative;
  --r: 0;
  --g: 0;
  --b: 0;
  font-family: serif;
  font-size: 15rem;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
}

.bigCard:hover {
  --speed: 100ms;
  transform: perspective(1000px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.bigCard:hover .middleSuite {
  background-image: repeating-linear-gradient(
    45deg,
    rgb(var(--r), var(--g), var(--b)) 1px 2px,
    transparent 2px 4px
  );
}

.innerBigCard {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  pointer-events: none;
}

.bigCard.isFlipped .innerBigCard {
  transform: rotateY(180deg);
}

.innerFront, .innerBack {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 10px solid #c6c8c9;
  border-radius: 25px;
  background-color: #eeeeee;
}

.innerFront {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerBack {
  transform: rotateX(180deg) translateY(100%);
  border: 10px solid #c9c8c6;
  background: linear-gradient(
      45deg,
      #c0deff 12%,
      transparent 0,
      transparent 88%,
      #c0deff 0
    ),
    linear-gradient(
      -45deg,
      transparent 37%,
      #80bdff 0,
      #80bdff 63%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 37%,
      #c0deff 0,
      #c0deff 63%,
      transparent 0
    )
    #405f80;
  background-size: 50px 50px;
}
